In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("news_data1.csv")

# Define the list of crime-related keywords
disaster_keywords = {
    'earthquake': 'Earthquake', 
    'flood': 'Flood', 
    'tsunami': 'Tsunami', 
    'hurricane': 'Hurricane', 
    'tornado': 'Tornado', 
    'wildfire': 'Wildfire',
    'landslide': 'Landslide', 
    'volcano': 'Volcanic Eruption', 
    'drought': 'Drought', 
    'cyclone': 'Cyclone', 
    'storm': 'Storm', 
    'avalanche': 'Avalanche', 
    'blizzard': 'Blizzard',
    'heatwave': 'Heatwave', 
    'hailstorm': 'Hailstorm', 
    'mudslide': 'Mudslide', 
    'famine': 'Famine', 
    'pandemic': 'Pandemic', 
    'outbreak': 'Outbreak',
    'snowstorm': 'Snowstorm', 
    'sandstorm': 'Sandstorm', 
    'disaster': 'Disaster', 
    'natural disaster': 'Natural Disaster', 
    'calamity': 'Calamity', 
    'emergency': 'Emergency',
    'hazard': 'Hazard', 
    'catastrophe': 'Catastrophe', 
    'rescue': 'Rescue Operation',
    'relief': 'Relief Effort',
    'evacuation': 'Evacuation',
    'debris': 'Debris',
    'tsunami warning': 'Tsunami Warning',
    'aftershock': 'Aftershock',
    'lightening':'lightening',
}

# Function to label data based on keywords
def label_data(title):
    for keyword in disaster_keywords:
        if keyword in title.lower():
            return 1  
    return 0  


# Apply the functions to the dataset
df['label'] = df['Title'].apply(label_data)
df.to_csv('ans.csv', index=False)

# Drop duplicates

In [6]:
df = df.drop_duplicates()

# Filter for rows with crime-related titles
df_zero_label = df[df['label'] == 1]
df_zero_label= df_zero_label.drop_duplicates()
# Save the new dataset with crime type detection
df.to_csv('ans1.csv', index=False)

# Display the result
print(df_zero_label)

                                                 Title  \
37   Uttar Pradesh: Building Collapses In Meerut's ...
80    Will Pacific Cyclone Yagi Bring More Rainfall...
148  IAF Helicopter Makes Emergency Landing On Padd...
154  In Chennai Schools, Maha Vishnu Talked About R...
228  Ahmedabad On Yellow Alert For Thunderstorm Ami...
236  Ahmedabad Braces for Light Rain and Cloudy Ski...
266  Video: Major Landslide Hits Jammu-Rajouri-Poon...
293  Will Pacific Cyclone Yagi Bring More Rainfall ...

                                                 Links  label
37   https://www.timesnownews.com/india/uttar-prade...      1
80   https://www.timesnownews.com/delhi/will-cyclon...      1
148  https://www.timesnownews.com/chennai/iaf-helic...      1
154  https://www.timesnownews.com/chennai/in-chenna...      1
228  https://www.timesnownews.com/city/ahmedabad/ah...      1
236  https://www.timesnownews.com/city/ahmedabad/ah...      1
266  https://www.timesnownews.com/india/video-major...      1
293  https://www.timesnownews.com/delhi/will-cyclon...      1

In [7]:
df

,Title,Links,label
0,Times Now,https://www.timesnownews.com,0
1,TN Navbharat,https://www.timesnowhindi.com,0
2,Zoom,https://www.zoomtventertainment.com,0
3,ET Now,https://www.etnownews.com,0
4,Times Drive,https://www.timesdrive.in,0
...,...,...,...
436,Terms & Conditions,https://www.timesnownews.com/info/terms-condit...,0
437,Privacy Policy,https://www.timesnownews.com/info/privacy-policy,0
438,Disclaimer,https://www.timesnownews.com/info/disclaimer,0
439,Complaint Redressal,https://www.timesnownews.com/info/complaint-re...,0
440,Syndication And Partnerships,https://www.timesnownews.com/info/syndicate-ou...,0

In [8]:
df.tail()

,Title,Links,label
436,Terms & Conditions,https://www.timesnownews.com/info/terms-condit...,0
437,Privacy Policy,https://www.timesnownews.com/info/privacy-policy,0
438,Disclaimer,https://www.timesnownews.com/info/disclaimer,0
439,Complaint Redressal,https://www.timesnownews.com/info/complaint-re...,0
440,Syndication And Partnerships,https://www.timesnownews.com/info/syndicate-ou...,0